<mat-toolbar color="primary">
    <span><a routerLink="/">My App</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a routerLink="/create" routerLinkActive="active-link" class="mat-button">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a routerLink="/login" routerLinkActive="active-link" class="mat-button">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a routerLink="/signup" routerLinkActive="active-link" class="mat-button">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Log Out</button>
        </li>   
    </ul>
</mat-toolbar>
