ul {
    list-style: none;
    display: flex;
}

li {
    margin: 5px;
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #eee;
}

.active-link {
    font-weight: bold;
}

.spacer {
    flex: 1 1 auto;
}